<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Webpage Title -->
    <title>회원가입 페이지</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <!-- Cookie -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!--------------CSS---------------->
    <link rel="stylesheet" href="../static/login.css" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      h1,
      form {
        text-align: center;
        margin: 60px 0;
        border: 0;
        outline: none;
      }
      input {
        border: 1px solid #888;
        outline: none;
        padding: 5px 10px;
      }

      button {
        border: 0;
        outline: none;
        cursor: pointer;
      }

      #close-exhi {
        width: 700px;
        height: 200px;
        margin: 50px auto;
        overflow: hidden;
      }

      .close-exhi-inner {
        width: 800px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
      }

      #card-box {
        width: 700px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
    </style>
    <script>
      $(document).ready(function () {
        filter();
      });

      //검색
      function filter() {
        let value = $("#value").val();
        let listInner = document.getElementsByClassName("search-card");
        if (value == " ") {
          return (window.location.href = `/`);
        }

        for (let i = 0; i < listInner.length; i++) {
          let title = listInner[i].getAttribute("id");
          if (title.indexOf(value) > -1) {
            listInner[i].style.display = "flex";
          } else {
            listInner[i].style.display = "none";
          }
        }
      }
    </script>
  </head>


    </style>
        <script>

            $(document).ready(function () {
                filter();
            })

            //검색
            function filter() {
                let value = $('#value').val();
                let listInner = document.getElementsByClassName("search-card");
                if (value == " ") {
                    return window.location.href =`/`;
                }

                for (let i = 0; i < listInner.length; i++) {
                    let title = listInner[i].getAttribute('id')
                    let tempArr = [];
                    if (title.indexOf(value) > -1) {
                        listInner[i].style.display = 'flex';
                    } else {
                        listInner[i].style.display = 'none';
                    }
                    }
                }

        </script>

</head>

<body>
<nav>
          <div class="logo"><a href="/">logo</a></div>
          <ul>
              <a href="/login" class="visitor">
                  <li>로그인</li>
              </a>
              <a href="/register" class ="visitor">
                  <li>회원가입</li>
              </a>
              <li class="customer" id="customer_name">님, 환영합니다!</li>
              <li class="customer"><button onclick="logout()">로그아웃</button></li>

          </ul>
      </nav>
    <h1>전시 뭐하니?</h1>
    {# 종료임박 전시 card carousel - start #}
    <div id="close-exhi">

       <ul class="close-exhi-inner">
        {% for exhi in exhibition %}
          {% if exhi.period == "2021.10.10" %}
            <li class="close-exhi-card card">
                <a href="/exhibition/{{  exhi.id }}">
                    <img class="card-img-top" src="{{ exhi.img_url }}" alt="Card imgae cap" />
                </a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>

    </div>
    {# 종료임박 전시 card carousel - end #} {# 검색 input - start #}
    <form>
      <input
        type="text"
        id="value"
        onkeyup="filter()"
        placeholder="전시회명을 검색해주세요"
        style="width: 18rem"
      />
    </form>
    {# 검색 input - end #} {# 전체 전시 - start #}
    <div id="card-box">

        {% for exhi in exhibition %}
            <div class="card search-card" id="{{ exhi.title }}">
                <a href="/exhibition/{{ exhi.id }}">
                    <img class="card-img-top" src="{{ exhi.img_url }}" alt="Card image cap" />
                    <p>{{ exhi.title }}</p>
                </a>
            </div>
        {% endfor %}

    </div>
    {# 전체 전시 - end #}

<script type="text/javascript" src="../static/exhibition.js"></script>
  </body>
</html>
