<!DOCTYPE html>
<html lang="en">
    <head>
        {% include '/common/head.html' %}
        <!--------------CSS---------------->
        <link rel="stylesheet" href="../static/style.css"/>
        <link rel="stylesheet" href="../static/login.css"/>
    </head>

    <body>
        <!----------------------로그인 컨테이너 ------------------------>
        <main>
            <div class="login-container">
                <img
                    src="https://github.com/dev-sohye/hanghae99_11/blob/minji_forserver/logo_02.png?raw=true"/>
                <div class="input-box">
                    <input id="userid" type="text" placeholder="아이디"/>
                </div>
                <div class="input-box">
                    <input id="userpw" type="password" placeholder="비밀번호"/>
                </div>
                <button class="login-button" onclick="login_to_review()">로그인</button>
                <p class="msg">
                    계정이 없으신가요?
                    <a style="color: var(--main-color)" href="/register">회원가입하세요!</a >
                </p>
            </div>
        </main>
    </body>
    <script type="text/javascript" src="../static/login.js"></script>
</html>
