<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Webpage Title -->
    <title>로그인 페이지</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <!-- Cookie -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!--------------CSS---------------->
    <link rel="stylesheet" href="../static/login.css" />
    <link rel="stylesheet" href="../static/stlye.css" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
      //토큰 여부 경고창
      // {% if msg %}
      //     alert("{{ msg }}")
      // {% endif %}
    </script>
  </head>

  <body>
    <!----------------------로그인 컨테이너 ------------------------>
    <main>
      <div class="login-container">
        <img
          src="https://github.com/dev-sohye/hanghae99_11/blob/minji_forserver/logo_02.png?raw=true"
          alt=""
        />
        <div class="input-box">
          <input id="userid" type="text" placeholder="아이디" />
        </div>
        <div class="input-box">
          <input id="userpw" type="password" placeholder="비밀번호" />
        </div>
        <button class="login-button" onclick="login()">로그인</button>
        <p class="msg">
          계정이 없으신가요?
          <a style="color: var(--main-color)" href="/register"
            >회원가입하세요!</a
          >
        </p>
      </div>
    </main>
    <script type="text/javascript" src="../static/login.js"></script>
  </body>
</html>
