<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Webpage Title -->
    <title>회원가입 페이지</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <!-- Cookie -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!--------------CSS---------------->
    <link rel="stylesheet" href="../static/login.css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!---------페이지 전환 링크------------>
    <div class="header-container">
      <a href="/exhibition"> 상세 페이지로 이동</a>
      <a href="/login">로그인 페이지로 이동</a>
      <a href="/">메인 페이지로 이동</a>
    </div>
    <!-----------회원가입------------->
    <div class="main-conatainer d-flex">
      <div class="login-container">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >ID</span
            >
          </div>
          <input
            id="userid"
            type="text"
            class="form-control form-control-lg"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        <div>
          <button
            style="margin-top: 1px; margin-bottom: 15px"
            onclick="idcheck()"
          >
            중복확인
          </button>
          <p id="help-id" class="help">
            아이디는 4-10자의 영문과 숫자와 일부 특수문자(._-)만 입력
            가능합니다!!
          </p>
        </div>
        <div class="input-group mb-3 d-flex">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Password</span>
          </div>
          <input
            id="userpw"
            type="password"
            class="form-control form-control-lg pw"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        <div class="input-group mb-3 d-flex">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Password Check</span>
          </div>
          <input
            id="pwchk"
            type="password"
            class="form-control form-control-lg pw"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        <p id="help-pw" class="help">비밀번호는 4자 이상 입력해주세요!!!!</p>
        <!-- <span
          id="alert-success"
          class="pwchk-str"
          style="display: none; margin-bottom: 10px; margin-top: 5px"
          >비밀번호가 일치합니다.</span
        >
        <span
          id="alert-danger"
          class="pwchk-str"
          style="
            display: none;
            color: red;
            margin-bottom: 10px;
            margin-top: 5px;
          "
          >비밀번호가 일치하지 않습니다.</span
        > -->
        <form>
          <input
            type="radio"
            name="gender"
            value="male"
            class="usergender"
            checked
          />
          <label for="male">Male</label><br />
          <input
            type="radio"
            name="gender"
            value="female"
            r
            class="usergender"
          />
          <label for="female">Female</label>
        </form>
        <button class="button is-primary" onclick="register()">회원가입</button>
        <button class="button is-primary" onclick="test()">테스트</button>
      </div>
    </div>
    <script type="text/javascript" src="../static/register.js"></script>
  </body>
</html>
